.application-title {
  font-weight: bold;
}

.id-secret-container {
  background-color: #f3f3f3;
  margin-top: 30px;
  padding: 20px 30px;
  .id-secret-details {
    flex: 1 1 50%;
  }
  .id-secret-title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  .id-secret-content {
    display: flex;
    margin-bottom: 10px;
    .id-secret {
      background-color: #ffffff;
      padding: 5px 10px 5px;
      margin-right: 10px;
      white-space: nowrap;
      text-overflow: clip;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      p {
        color: rgba(92, 93, 102, 0.5);
        margin: 0;
      }
    }
  }
}
