#set-password {
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: gray;
    margin-right: 6px;
    margin-top: 4px;
  }

  .icon-checkmark-solid {
    color: green;
  }

  .validation-icon {
    float: left;
  }

  .validation-text {
    float: left;
    margin-left: 4px;
  }

  p {
    padding-right: 30px;
  }

  .validation-container {
    padding-right: 30px;
    overflow: hidden;
  }
}

#__lpform_password_numspan,
#__lpform_password {
  display: none;
}
