$cylance-green: #6ed147;
$cylance-blue: #344052;
$cylance-white: #fff;

$status-red: #e74c3c;
$status-orange: #fd9200;
$status-yellow: #ffc304;
$status-information: #0377bd;
$link-color: $status-information;
$status-green: #4caf50;

$ui-slate-gray: #647e8b;
$ui-fiord: #445a64;
$ui-sea-buckthorn: #fca725;

$bg-catskill-white: #ecf2f6;
$bg-silver: #ccc;
$bg-concrete: #f2f2f2;

$dove-grey: #666666;
$mine-shaft: #333333;

$ui-theme-primary: #03a5ef;
$ui-theme-disabled: #ccc;
$ui-theme-link: #0377bd;

$button-bg-primary: $ui-theme-primary;
$button-text-primary: #fff;
$button-bg-outlined: #fff;
$button-text-outlined: $ui-theme-primary;
$button-disabled: $ui-theme-disabled;

$status-error: #e66a5e;
$status-success: #4caf50;
