<!DOCTYPE html>
<html>
  <head>
    <title>UES Console</title>
    <style type="text/css">
      :focus {
        outline: none;
      }
      body {
        margin: 0;
      }
      html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Roboto, Helvetica, Aria, sans-serif;
      }
      h3 {
        text-align: center;
        line-height: 100vh;
        margin: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta name="mobile-web-app-capable" content="yes" />

    <meta http-equiv="Refresh" content="0; URL={{{redirect}}}">
  </head>

  <body>
    <h3>Loading your session</h3>
  </body>
</html>
