#create-edit-tenantuser-form {
  .ui.input {
    width: 100%;
    margin-top: 0;
  }
  .ui.selection.dropdown {
    min-width: 0;
    width: 100%;
  }
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .tenant-user-row > div:not(:first-child) {
    margin-left: -24px !important;
  }
}
