.forgot-password-container .ui.selection.dropdown {
  width: 100%;
  border-radius: 0;
  border: 1px solid #cccccc;
  height: 40px;

  .text {
    color: #5c5d66;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
}
