#partner-user-list-by-partner {
  .list-row {
    display: flex;
    p {
      flex: 1;
      font-size: 13px;
      color: #5c5d66;
      letter-spacing: 0;
      line-height: 20px;
      margin: 18px 0;
    }
  }
}
